In [ ]:
# analysis.ipynb
import pandas as pd
import  seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# analysis.ipynb
import pandas as pd
import  seaborn as sns
import matplotlib.pyplot as plt

# Load the datasets
data_a = pd.read_csv('../data/sample_fx_data_A.csv.gz', compression='gzip')
data_b = pd.read_csv('../data/sample_fx_data_B.csv.gz', compression='gzip')
data_c = pd.read_csv('../data/sample_fx_data_C.csv.gz', compression='gzip')




# Perform data analysis
# Display the first few rows of each dataset
print("Data A:")
print(data_a.head())
print("\nData B:")
print(data_b.head())
print("\nData C:")
print(data_c.head())

# Add more analysis steps as needed to select the best data provider

Data A:
              datetime      bid      ask currency_pair  volume
0  2023-11-30 23:59:58  161.502  161.518        EURJPY    7948
1  2023-11-30 23:59:59   97.882   97.893        AUDJPY    5809
2  2023-12-01 00:00:00  161.502  161.515        EURJPY    1098
3  2023-12-01 00:00:00  148.078  148.084        USDJPY     314
4  2023-12-01 00:00:01  161.498  161.516        EURJPY    9823

Data B:
              datetime      bid      ask currency_pair  volume
0  2023-11-30 23:59:58  161.464  161.602        EURJPY      65
1  2023-11-30 23:59:59   99.371   97.977        AUDJPY    8562
2  2023-12-01 00:00:00  161.464  161.599        EURJPY    8795
3  2023-12-01 00:00:00  148.040  148.168        USDJPY    8289
4  2023-12-01 00:00:01  162.994  161.600        EURJPY    6764

Data C:
              datetime      bid      ask currency_pair  volume
0  2023-12-01 00:00:00  161.492  161.521        EURJPY    1098
1  2023-12-01 00:00:00  148.068  148.090        USDJPY     314
2  2023-12-01 00:00:01  161.488  161.522        EURJPY    9823
3  2023-12-01 00:00:02  161.488  161.521        EURJPY    7033
4  2023-12-01 00:00:02  148.064  148.086        USDJPY    4222

In [4]:
# Check for data length
print("Data A length:", len(data_a))
print("Data B length:", len(data_b))
print("Data C length:", len(data_c))

Data A length: 6847154
Data B length: 6847154
Data C length: 4689657

In [5]:

# Display the first few rows of each dataset
display(data_a.head())
display(data_b.head())
display(data_c.head())

# Check for missing values
print("Data A missing values:\n", data_a.isnull().sum())
print("Data B missing values:\n", data_b.isnull().sum())
print("Data C missing values:\n", data_c.isnull().sum())

# Check for data length
print("Data A length:", len(data_a))
print("Data B length:", len(data_b))
print("Data C length:", len(data_c))

# Check for data consistency and validity (e.g., numeric values for bid and ask)
print("Data A description:\n", data_a.describe())
print("Data B description:\n", data_b.describe())
print("Data C description:\n", data_c.describe())

              datetime      bid      ask currency_pair  volume
0  2023-11-30 23:59:58  161.502  161.518        EURJPY    7948
1  2023-11-30 23:59:59   97.882   97.893        AUDJPY    5809
2  2023-12-01 00:00:00  161.502  161.515        EURJPY    1098
3  2023-12-01 00:00:00  148.078  148.084        USDJPY     314
4  2023-12-01 00:00:01  161.498  161.516        EURJPY    9823

              datetime      bid      ask currency_pair  volume
0  2023-11-30 23:59:58  161.464  161.602        EURJPY      65
1  2023-11-30 23:59:59   99.371   97.977        AUDJPY    8562
2  2023-12-01 00:00:00  161.464  161.599        EURJPY    8795
3  2023-12-01 00:00:00  148.040  148.168        USDJPY    8289
4  2023-12-01 00:00:01  162.994  161.600        EURJPY    6764

              datetime      bid      ask currency_pair  volume
0  2023-12-01 00:00:00  161.492  161.521        EURJPY    1098
1  2023-12-01 00:00:00  148.068  148.090        USDJPY     314
2  2023-12-01 00:00:01  161.488  161.522        EURJPY    9823
3  2023-12-01 00:00:02  161.488  161.521        EURJPY    7033
4  2023-12-01 00:00:02  148.064  148.086        USDJPY    4222

Data A missing values:
 datetime         0
bid              0
ask              0
currency_pair    0
volume           0
dtype: int64
Data B missing values:
 datetime             0
bid               5092
ask              51364
currency_pair        0
volume               0
dtype: int64
Data C missing values:
 datetime         0
bid              0
ask              0
currency_pair    0
volume           0
dtype: int64
Data A length: 6847154
Data B length: 6847154
Data C length: 4689657
Data A description:
                 bid           ask        volume
count  6.847154e+06  6.847154e+06  6.847154e+06
mean   1.373710e+02  1.373810e+02  5.000257e+03
std    2.602497e+01  2.602510e+01  2.886028e+03
min    9.375900e+01  9.378500e+01  1.000000e+00
25%    9.794900e+01  9.795900e+01  2.501000e+03
50%    1.479940e+02  1.480010e+02  5.000000e+03
75%    1.582430e+02  1.582570e+02  7.499000e+03
max    1.637160e+02  1.637220e+02  9.999000e+03
Data B description:
                 bid           ask        volume
count  6.842062e+06  6.795790e+06  6.847154e+06
mean   1.375648e+02  1.374144e+02  5.000270e+03
std    2.603082e+01  2.602596e+01  2.886557e+03
min    9.373400e+01  9.273800e+01  1.000000e+00
25%    9.847900e+01  9.800600e+01  2.499000e+03
50%    1.480910e+02  1.480590e+02  5.000000e+03
75%    1.584380e+02  1.582620e+02  7.500000e+03
max    1.654380e+02  1.638060e+02  9.999000e+03
Data C description:
                 bid           ask        volume
count  4.689657e+06  4.689657e+06  4.689657e+06
mean   1.374518e+02  1.374778e+02  4.999944e+03
std    2.603005e+01  2.603014e+01  2.885631e+03
min    9.374900e+01  9.379100e+01  1.000000e+00
25%    9.798900e+01  9.801400e+01  2.501000e+03
50%    1.480990e+02  1.481230e+02  5.000000e+03
75%    1.582340e+02  1.582640e+02  7.498000e+03
max    1.637060e+02  1.637280e+02  9.999000e+03

In [ ]:
# Visualization for better understanding
sns.pairplot(data_a)
plt.suptitle('Data A Visualization', y=1.02)
plt.show()

In [ ]:
sns.pairplot(data_b)
plt.suptitle('Data B Visualization', y=1.02)
plt.show()

In [ ]:
sns.pairplot(data_c)
plt.suptitle('Data C Visualization', y=1.02)
plt.show()

In [ ]:
# Conclusion: Choose the best data provider
# Based on the analysis, let's assume data provider B is the best
chosen_data_provider = 'B'
print(f"Chosen data provider: {chosen_data_provider}")